/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background: rgba(14, 13, 20, 0.849);
  font-family: "Ubuntu", sans-serif;
  background: url("../assets/wallpaper.png") no-repeat;
  background-size: cover;
  background-position: 50% 35%;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

input {
  outline: none;
}

/* Container */
.container {
  display: none;
}

.container.search-show {
  display: initial;
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.search {
  display: none;
}

.search.visible {
  z-index: 25;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px auto;
}

.search input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border-radius: 8px;
  border: none;
  background-color: rgb(218, 218, 218, 0.2);
  color: #141414;
}

.search input::placeholder {
  color: #272323d3;
}

.search input:focus {
  background-color: rgb(218, 218, 218, 0.4);
  color: #141414;
}

.search svg {
  position: absolute;
  left: 10px;
  width: 16px;
  height: 16px;
  color: #fff;
}

/* Header */
header {
  width: 100vw;
  color: #fff;
  background: rgba(0, 0, 0, 0.18);
  transition: background 0.2s ease-out;
}

header.search-show {
  background: rgba(0, 0, 0, 0.4);
}

header nav {
  z-index: 300;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

header nav div:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

header nav div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-content: center;
}

header nav div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

header svg {
  color: #fff;
  cursor: pointer;
}

header nav .logo {
  width: max-content;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
}

header nav .logo img {
  height: 25px;
  filter: invert();
}

header nav .logo:hover {
  background: rgba(255, 255, 255, 0.3);
}

header nav .config {
  cursor: pointer;
}

header nav .config button {
  width: max-content;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
}

header nav .config button svg {
  margin-right: 5px;
}

header nav .config button svg {
  width: 18px;
  height: 18px;
  margin-left: 14px;
}

header nav .config button:hover {
  background: rgba(255, 255, 255, 0.3);
}

header nav .date-time span {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

header nav .date-time span:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Pop-up */
header nav .pop-up {
  display: none;
}

header nav .pop-up.show {
  display: initial;
  position: absolute;
  width: 300px;
  min-height: 200px;
  background: rgba(14, 13, 20, 0.849);
  right: 0;
  top: 44px;
  border-radius: 4px;
}

header nav .pop-up svg {
  width: 18px;
  height: 18px;
}

header nav .pop-up .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

header nav .pop-up .content .input-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
}

header nav .pop-up .content .input-group input {
  width: 90%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 20px;
  background: #8a8989;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s ease-out;
  border-radius: 8px;
}

header nav .pop-up .content .input-group input:hover {
  opacity: 1;
}

header nav .pop-up .content .input-group input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

header nav .pop-up .content .input-group input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

header nav .pop-up .content .connection {
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
}

header nav .pop-up .content .options {
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

header nav .pop-up .content .options > div {
  margin-top: 6px;
  padding: 5px 10px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
}

header nav .pop-up .content .options > div > svg {
  margin-right: 8px;
}

header nav .pop-up .content .input-group:hover,
header nav .pop-up .content .connection:hover,
header nav .pop-up .content .options > div:hover {
  background: rgb(42, 97, 248);
  opacity: 1;
}

/* Footer (Docs) */
footer {
  z-index: 15;
  position: absolute;
  width: 100%;
  min-height: 20px;
  bottom: 0;
  left: auto;
  right: auto;
  overflow: hidden;
}

footer ul {
  transform: translateY(60px);
  transition: transform 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  display: initial;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

footer ul li {
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.18s ease-out;
}

footer ul li:hover {
  transform: scale(1.12) rotate(-2deg);
}

footer ul li img {
  width: 100%;
  height: 100%;
}

footer ul li.menu {
  filter: invert();
}

/* Desktop */
div.desktop.hidden {
  display: none;
}

div.desktop {
  margin: 30px 20px;
  display: grid;
  grid-template-columns: 40px;
  grid-template-rows: auto;
  grid-gap: 20px;
}

div.desktop > div {
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  object-fit: cover;
}

div.desktop > div img {
  width: 100%;
}

/* Terminal */
.bash {
  display: none;
}

.bash.show {
  display: initial;
  width: 600px;
  height: 300px;
  background: #151515;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bash textarea {
  appearance: none;
  width: 100%;
  height: 300px;
  background: none;
  border: none;
  color: #fff;
  padding: 40px 15px 15px;
  outline: none;
  resize: none;
}

.bash textarea::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  background: #2a2a2a9c;
  cursor: pointer;
}

.bash textarea::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 8px;
  background: #6262629c;
  cursor: pointer;
}

.bash header {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #151515;
  border-bottom: 1px solid #040404;
  padding: 5px;
}

.bash .dots {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

.bash .dots span {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}

.bash .dots span:nth-child(1) {
  background: #ff6058;
}

.bash .dots span:nth-child(2) {
  background: #ffbd2e;
}

.bash .dots span:nth-child(3) {
  background: #28c941;
}

.bash header > p {
  margin-left: 120px;
  color: #737373;
  font-family: "Roboto", sans-serif;
}
